body{
	background: url('/images/bg.png');
	margin: 0;
    padding: 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    line-height: 1.4;
}

.wrapper{
	width: 80%;
    margin: 0 auto;
}
.container{
	padding: 30px;
}
span.error {
    color: red;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
/*CONTENT*/
#front-logo{
    margin-bottom: 50px;
}
.content{
    min-height: 300px;
}
.content h4{
    color: #FF9821;
}
.content.login{
    width: 35%;
    margin: auto;
    background-color: #fff;
    background-repeat: repeat-x!important;
    border-color: #FF9821!important;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 50px;
    color: #272822;
    box-shadow: -5px 5px #5D6052;
}
.content.admin{
    width: 60%;
    margin: auto;
    background-color: #fff;
    background-repeat: repeat-x!important;
    border-color: #FF9821!important;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 50px;
    color: #272822;
    box-shadow: -5px 5px #5D6052;
}
.content.admin a,
.content.login a{
    color: #FF9821;
    font-weight: bold;
}
.content.admin a:hover,
.content.login a:hover{
    color: #41443A;
}
.index-space:before{
    min-height: 50px;
    content: "";
    display: table;
}
.form-group label{
    width: 100%;
    display: block;
    font-weight: bold;
}
.form-group input{
    font-size: 14px;
    margin: 10px 0;
    padding: 6px 12px;
    border: 1px solid #FF9821;
    border-radius: 4px;
}
form button{
    color: white;
    padding: 6px 12px;
    margin: 10px 0;
    font-size: 14px;
    background-image: linear-gradient(to bottom,#35372E 0,#272822 100%)!important;
    background-repeat: repeat-x!important;
    border-color: #272822!important;
    border: 1px solid transparent;
    border-radius: 4px;
}
form button:hover{
    background-image: linear-gradient(to bottom,#4F5246 0,#41443A 100%)!important;
    background-repeat: repeat-x!important;
    border-color: #41443A!important;
    color: white;
}

form button:disabled{
    color: graytext !important;
}
select {
    padding: 6px 12px;
    margin: 10px 10px 10px 0;
    border: 1px solid #FF9821;
    border-radius: 4px;
    font-size: 14px;
}
.reg_col1,
.reg_col2{
    width: 50%;
    float: left;
}
.site-navigation a{
    background-image: linear-gradient(to bottom,#fe8f0e 0,#FF9821 100%)!important;
    background-repeat: repeat-x!important;
    border-color: #FF9821!important;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    padding: 5px 15px;
    display: inline-block;
    color: #272822;
}
.site-navigation a:hover{
    background-image: linear-gradient(to bottom,#4F5246 0,#41443A 100%)!important;
    background-repeat: repeat-x!important;
    border-color: #41443A!important;
    color: white;
}
/*.site-navigation li.active a{
    background-image: linear-gradient(to bottom,#4F5246 0,#41443A 100%)!important;
    background-repeat: repeat-x!important;
    border-color: #41443A!important;
    color: white;
}*/
/*Customer Info*/
.admin_info .col1,
.customer_info .col1{
    width: 30%;
    float: left;
}
.admin_info .col2,
.admin_info .col3,
.customer_info .col2,
.customer_info .col3{
    width: 35%;
    float: left;
}
.admin_info .admin_image,
.customer_info .customer_image{
    width: 200px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 1px #FF9821 solid;
}
.admin_info label,
.customer_info label{
    color: #FF9821;
}
.admin_info p
.customer_info p{
    margin-top: 0;
}
input#loan_amount {
    width: 70%;
}
.loan_history,
.payment_history{
    width: 50%;
    float: left;
}
/*Results*/
.form-result table{
    width: 100%;
    border-collapse: collapse;
}
.resultslabel th,
.resultsrow td{
    width: 20%;
    text-align: left;
    padding: 5px 10px;
    border: 1px solid white;
}
.resultsrow a:hover{
    color: #41443A;
}
.resultsrow a,
.resultslabel th{
    color: #FF9821;
}
button a{
    color: white;
}
/*HEADER*/
.header_branding{
	padding: 0 30px;
}
.header_branding #site_title{
    color: #FF9821;
	margin: 0;
	padding: 20px 0;
    width: 50%;
    float: left;
}
.header_branding #welcome{
    margin: 0;
    padding: 20px 0;
    width: 50%;
    float: right;
}
.header_branding #welcome h4{
    float: right;
}
.header_branding #welcome a{
    color: #FF9821;
}
.header_branding #welcome a:hover{
    color: #41443A;
}
/*FOOTER*/
.footer{
    padding: 0 30px;
    background-image: linear-gradient(to bottom,#fe8f0e 0,#FF9821 100%)!important;
    background-repeat: repeat-x!important;
    border-color: #FF9821!important;
}
.footer #site_navigation a{
    display: block;
}
.footer .wrapper{
    padding: 30px 0;
}
