body{
	background-color: #272822;
	margin: 0;
    padding: 0;
    color: black;
    font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.4;
}

.wrapper{
	width: 80%;
    margin: 0 auto;
}
.container{
	padding: 30px;
	background-color: white;
}
span.error {
    color: red;
}
/*HEADER*/
#site_title{
	padding: 0 30px;
    border-bottom: 1px black solid;
    background-color: white;
}
#site_title h1{
	margin: 0;
	padding: 20px 0;
}